body {
 background-image: linear-gradient(135deg, #FF6FD8 10%, #3813C2 100%);;
  color: black;
  font-family: Arial, sans-serif; 
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.card {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 6px pink;
 width: 600px;
  max-width: px; 
  text-align: center;
 
}

.card h1 {
  text-align: center;
  color:black
}

.card form {
  margin-top: 20px;
}

.card form label {
  display: block;
  margin-bottom: 5px;
}

.card form input {
  width: 75%;
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.card form button {
  width: 50%;
  background-image: linear-gradient(135deg, #FF6FD8 10%, #3813C2 100%);;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

